body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #d2ddf1;
  color: #0f0d0d;
}
main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
}
.seccion-estilo-Blanco {
  background-color: rgba(147, 150, 150, 0.326);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.seccion-estilo-Blanco:hover {
  background-color: rgba(184, 180, 180, 0.599);
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.364);
}
#fondo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.9; 
}

header {
  background-color: #333;
  color: #cabcbc;
  padding: 30px 20px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 10px;
}
nav a {
  color: #f4f4f4;
  text-decoration:solid;
  font-weight: bold;
}
nav a:hover {
  transform:scale(1.5);
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #12d2d2;
  text-decoration:underline;
}
h1 {
  color: #fdfdfd;
  text-align: center;
}
h2 {
  color: #12e8e8;
  border-bottom: 2px solid #655c5c;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section {
  margin-bottom: 40px;
}
.icono-contacto {
  text-align: center;
}
.icono-contacto img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
  margin-bottom: 8px;
}
.icono-contacto img:hover {
  transform: scale(1.5);
}
.icono-contacto p {
  margin: 0;
  font-weight: bold;
  color: #000;
}
.social-icons-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.con-acerca {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.texto-cortado {
  flex: 1;
  min-width: 250px;
}
.imagen-acerca img {
  width: 250px;
  border-radius: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
